<app-header title="Invoices"></app-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let invoice of invoices" [routerLink]="['/invoice', invoice.id]">
      <ion-label>
        <h2>{{invoice.title}}</h2>
      </ion-label>
      <div item-content>
        <h4>{{invoice.addedAt | date}}</h4>
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfiniteScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
